<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Soton Squash Club App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="css/menuSlide.css"/>
  <link rel="stylesheet" href="css/carousel.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>

  <script>
    var module = angular.module('app', ['onsen']); <!-- default not sure what does yet> -->
	
	/* Alternative from patterns page whats the difference??
	 ons.bootstrap();
      ons.ready(function() {
        menu.openMenu();
      });*/
  </script>
  
</head>

<body>    
  
  <!-- Defines the sliding menu and some attributes -->
  <ons-sliding-menu 
    menu-page="menu.html" main-page="page1.html" side="left"
    var="menu" type="reveal" max-slide-distance="260px" swipe-target-width="20px" swipeable="false">
  </ons-sliding-menu>

  <!-- Sliding Menu Contents -->
  <ons-template id="menu.html">
    <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>
		
	  <!-- Defines Menu Item 1 -->
      <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})"> <!-- Sets the mainpage to page1.html and closes the menu -->
          <ons-icon icon="fa-plus"></ons-icon> <!-- Sets menu item icon -->
          Register/Login<!-- menu item name -->
        </ons-list-item>

		<!-- Defines Menu Item 2 -->
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark"></ons-icon>
          About Club
        </ons-list-item>
		
		<!-- Defines Menu Item 3 -->
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page3.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark"></ons-icon>
          About Squash
        </ons-list-item>

		<!-- Defines Menu Item 4 -->
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
          <ons-icon icon="fa-twitter"></ons-icon>
          Official Twitter
        </ons-list-item>
      </ons-list>

      <br> <!-- Defines bottom menu section -->

      <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
          Challenge Player
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
          Upload Result
        </ons-list-item>
		
		<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
          My Profile
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
          Send feedback
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>

  <!-- Start of Page 1 -->
  <ons-template id="page1.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Register/Login</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
          <p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>
  <!-- End of Page 1 -->

  <!-- Start of Page 2 -->
  <ons-template id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">About The Club</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
  <!-- End of Page 2 -->
  
  <!-- Start of Page 3 -->
  <ons-template id="page3.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">About Squash</div>
      </ons-toolbar>

    <ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">
		<ons-carousel-item style="background-color: gray;">
		  <div class="item-label">GRAY</div>
		</ons-carousel-item>
		<ons-carousel-item style="background-color: #085078;">
		  <div class="item-label">BLUE</div>
		</ons-carousel-item>
		<ons-carousel-item style="background-color: #373B44;">
		  <div class="item-label">DARK</div>
		</ons-carousel-item>
		<ons-carousel-item style="background-color: #D38312;">
		  <div class="item-label">ORANGE</div>
		</ons-carousel-item>
		<ons-carousel-cover><div class="cover-label">Swipe left or right</div></ons-carousel-cover>
    </ons-carousel>

    </ons-page>
  </ons-template>
  <!-- End of Page 3 -->
  
  <!-- Start of Page 4 -->
  <ons-template id="page4.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">BLANK PAGE 4</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px;">
        <ons-col align="center">
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
  <!-- End of Page 4 -->
 
</body>
</html>
